$violeta : blueviolet;

body{
    background-color: slategray;
}

.title{
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
    color: $violeta;
    letter-spacing: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F5EEF8;
    border: 2px solid $violeta;
    border-radius: 10px;
}